{% extends "pages/base.html" %} {%load static%}
 {% block title %} Giới thiệu {%endblock%}
 {% block scripts %}
 <script src="{% static 'js/particles.js'%}"></script>
 <script src="{% static 'js/swiper.min.js'%}"></script>

 {%endblock%}
 {%block content%}
<section class="slider-area slider-area2 h-100px"></section>
<div class="container-full">
    <div id="particles-js" class="mb help-you">
        <div class="line-layout1">
            <h2 class="mb-title">
                <span class="mbt-content">OMG123.VN</span>
                 <p class="first-head firt-pc"><strong>NỀN TẢNG HỌC TIẾNG ANH TRỰC TUYẾN SỐ 1 DÀNH CHO CHO TRẺ EM</strong><br></p>
                 
  
            </h2>
        </div>
        <div class="mb-content clearfix">
            <div class="mbc-left">
                <div class="flex justify-center"><img class="img-l1-r" src="https://hocmai.vn/public/img/activities/thumbs/vuong-mien3.png"><p style="text-align: center;" class="text-19-w">&nbsp; &nbsp;Hơn<strong> 1 000</strong> thành viên đăng kí học tập</p>
    
        </div>
        <div class="flex justify-center">
            <p style="text-align: center;" class="text-19-w">Đội ngũ gần <strong>200 giáo viên</strong> giàu kinh nghiệm&nbsp;&nbsp;</p>
        
            <img class="img-l1-l" src="https://hocmai.vn/public/img/activities/thumbs/vuong-mien3.png"></div><div class="flex justify-center"><img class="img-l1-r" src="https://hocmai.vn/public/img/activities/thumbs/vuong-mien3.png"><p style="text-align: center;" class="text-19-w">&nbsp; &nbsp;Hơn<strong> 500</strong> bài giảng và <strong>5</strong> khóa học</p>
            
            </div><div class="flex justify-center"><p style="text-align: center;" class="text-19-w"><strong>200 </strong>đề kiểm tra,&nbsp;<strong>1000</strong> câu hỏi luyện tập&nbsp;&nbsp;</p>
            <img class="img-l1-l" src="https://hocmai.vn/public/img/activities/thumbs/vuong-mien3.png"></div>       
            </div>
            </div>
        <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1349" height="674"></canvas>
    </div>
    <div class="content-page">

    </div>
</div>

{%endblock%}
