<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Đăng nhập thành viên</title>
    {% load static%}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_template.css' %}">
    <style>
        .chk-show-pass{
            transform: scale(1.5);
        }
        .show-pass{
            color: #fff;
             margin-left: 9px;
        }
    </style>
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                     <img src="{% static 'img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->

    <video autoplay muted loop id="myVideoFullScreen">
        <source src="{% static 'img/login-bg.mp4' %}" type="video/mp4">
    </video>
    <main class="login-body">
        <!-- Login User -->
        <form class="form-default" action="{% url 'home:loginUser' %}" method="POST">
            {% csrf_token %}
            <div class="login-form">
                <!-- logo-login -->
                <div class="logo-login">
                    <a href="{% url 'home:index' %}"><img src="{% static 'img/logo/loder.png' %}" alt=""></a>
                </div>
                <h2>Đăng nhập</h2>
                {% if not mess %}
                {% else %}
                   <!-- Error Alert -->
                    <div class="alert alert-danger alert-dismissible fade show">
                        {{mess}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                   
                {% endif %}
                <div class="form-input">
                    <label for="">Tên đăng nhập</label>
                    <input  type="text" name="username"
                        maxlength="15"                       
                        {% if not uN %}
                        {% else %}
                            value={{uN}}
                        {% endif %}
                        required 
                        placeholder="Tên đăng nhập">
                </div>
                
                <div class="form-input">
                    <label for="">Mật khẩu</label>
                    <input type="password" name="password"
                        maxlength="20"
                        {% if not pW %}
                        {% else %}
                            value={{pW}}
                        {% endif %}
                        id="id_password"
                        required placeholder="Mật khẩu">
                </div>
                <input type="checkbox" class="chk-show-pass" onclick="showPass()"><span class="show-pass">Hiển thị mật khẩu</span> 
                <div class="form-input pt-30">
                    <input type="submit" name="submit" value="Đăng nhập">
                </div>
                
                <!-- Forget Password -->
                <a href="{% url 'home:registerUser'%}" class="registration">Đăng ký tài khoản</a>
            </div>
        </form>
        <!-- /end login form -->
    </main>


   <!-- JS here -->
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js'%}"> </script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js'%}"></script>
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'js/jquery.slicknav.min.js'%}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/slick.min.js'%}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static 'js/wow.min.js'%}"></script>
<script src="{% static 'js/animated.headline.js'%}"></script>
<script src="{% static 'js/jquery.magnific-popup.js'%}"></script>

<!-- Date Picker -->
<script src="{% static 'js/gijgo.min.js'%}"></script>
<!-- Nice-select, sticky -->
<script src="{% static 'js/jquery.nice-select.min.js'%}"></script>
<script src="{% static 'js/jquery.sticky.js'%}"></script>
<!-- Progress -->
<script src="{% static 'js/jquery.barfiller.js'%}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static 'js/jquery.counterup.min.js'%}"></script>
<script src="{% static 'js/waypoints.min.js'%}"></script>
<script src="{% static 'js/jquery.countdown.min.js'%}"></script>
<script src="{% static 'js/hover-direction-snake.min.js'%}"></script>

<!-- contact js -->
<script src="{% static 'js/contact.js'%}"></script>
<script src="{% static 'js/jquery.form.js'%}"></script>
<script src="{% static 'js/jquery.validate.min.js'%}"></script>
<script src="{% static 'js/mail-script.js'%}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js'%}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static 'js/plugins.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
<script src="{% static 'js/app.js'%}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
<script>
    function showPass() {
    var x = document.getElementById("id_password");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
    }
</script>
</body>
</html>

