<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Đăng ký thành viên</title>
    {% load static%}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_template.css' %}">
    
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                     <img src="{% static 'img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->

    <video autoplay muted loop id="myVideoFullScreen">
        <source src="{% static 'img/login-bg.mp4' %}" type="video/mp4">
    </video>
    <main class="login-body">
        <!-- Login User -->
        <form class="form-default" action="{% url 'home:registerUser' %}" method="POST">
            {% csrf_token %}
            <div class="login-form">
                <!-- logo-login -->
                <div class="logo-login">
                    <a href="{% url 'home:index' %}"><img src="{% static 'img/logo/loder.png' %}" alt=""></a>
                </div>
                <h2>Đăng ký thành viên</h2>
                {% if not suse %}
                {% else %}
                   <!-- Success  Alert -->
                    <div class="alert alert-success  alert-dismissible fade show">
                        <strong>Success !</strong> {{suse}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                   
                {% endif %}
                {{ form.non_field_errors }}
                {% if messages %}

                    {% for message in messages %}
            
                    <!--Panel-->
                    <div class="card border-danger mb-3">
                        <div class="card-header text-danger">
                            <p class="card-title">{{ message }}</p>
                        </div>
                    </div>
                    <!--/.Panel-->
                    
                    {% endfor %}
            
                {% endif %}
                <div class="form-input">
                  <label for="id_username">Tên đăng nhập</label>
                  {{form.username}}
                  {{ form.username.errors }}
                </div>
                <div class="form-input">
                    <label for="id_email">Email</label>
                    {{form.email}}
                    {{ form.email.errors }}
                </div>
                <div class="form-input">
                    <label for="id_password1">Mật khẩu</label>
                    {{form.password1}}
                    {{ form.password1.errors }}
                </div>
                <div class="form-input">
                    <label for="id_password2">Nhập lại mật khẩu</label>
                    {{form.password2}}
                    {{ form.password2.errors }}
                </div>
               
                <div class="form-input pt-30">
                    <input type="submit" name="submit" value="Đăng ký">
                </div>
                
                
                <!-- Have a account -->
                <a href="{% url 'home:loginUser'%}" class="registration">Đăng nhập</a>
            </div>
        </form>
        <!-- /end login form -->
    </main>


   <!-- JS here -->
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js'%}"> </script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js'%}"></script>
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'js/jquery.slicknav.min.js'%}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/slick.min.js'%}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static 'js/wow.min.js'%}"></script>
<script src="{% static 'js/animated.headline.js'%}"></script>
<script src="{% static 'js/jquery.magnific-popup.js'%}"></script>

<!-- Date Picker -->
<script src="{% static 'js/gijgo.min.js'%}"></script>
<!-- Nice-select, sticky -->
<script src="{% static 'js/jquery.nice-select.min.js'%}"></script>
<script src="{% static 'js/jquery.sticky.js'%}"></script>
<!-- Progress -->
<script src="{% static 'js/jquery.barfiller.js'%}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static 'js/jquery.counterup.min.js'%}"></script>
<script src="{% static 'js/waypoints.min.js'%}"></script>
<script src="{% static 'js/jquery.countdown.min.js'%}"></script>
<script src="{% static 'js/hover-direction-snake.min.js'%}"></script>

<!-- contact js -->
<script src="{% static 'js/contact.js'%}"></script>
<script src="{% static 'js/jquery.form.js'%}"></script>
<script src="{% static 'js/jquery.validate.min.js'%}"></script>
<script src="{% static 'js/mail-script.js'%}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js'%}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static 'js/plugins.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>
<script src="{% static 'js/app.js'%}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>

</body>
</html>



